*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    --hoh: 48;
    padding: 0;
    margin: 0;
}
body{
    font-family: cursive;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    line-height: calc(var(--hoh) * 1px);
}
