:root{
    --header-height: 56;
    --bar-height: 32;
    --unit: 4;
    --min-w: 600px;

    --color-dark: #000;
    --color-light: #fff;
    --color-p1: #169976;
    --color-bg: whitesmoke;
    --color-f2:  #aaa;
    --color-f3: #2d2929;
    --no-color: rgba(0,0,0,0)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

@media (prefers-color-scheme: dark) {
  
}