.rightBar {
    display: inline-flex;
    align-items: center;
    justify-content: end;

    height: 100%;
    min-width: 200px;
    width: 60%;
}

/* searchBox */
.searchBox{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 50%;
    margin: 0 8px;
}

.searchBox input{

    height: calc(var(--bar-height) * 1px);
    width: calc(100% - var(--header-height) * 1px);
    
    padding: 8px;

    border-radius: 8px 0 0 8px;
    border: 2px var(--color-p1) solid;
    outline: none;
}

.searchBox .btn{
    height: calc(var(--bar-height) * 1px);
    aspect-ratio: 1;

    background-color: var(--color-bg);

    border-radius: 0 8px 8px 0;
    border: 2px var(--color-p1) solid;
    border-left: 0;

    outline: none;
}

.searchBox .searchIcon{
    width: 100%;
    height: auto;
    scale: 0.6;
    color: var(--color-dark);

}
.searchBox .btn:hover .searchIcon{
    scale: 0.8;
    color: var(--color-p1);
}


/* account */
.account{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 120px;
}

.account .btn{
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(var(--bar-height) * 1px);
    aspect-ratio: 1;

    border: 2px var(--color-p1) solid;
    border-radius: 8px;

    background-color: var(--color-bgb);

    outline: none;
}
.account .btn .mess{

}

.account .btn:hover .mess{
    color: var(--color-p1);
    scale: 1.2;
}

.account .avatar {
    display: flex;
    align-items: center;

    height: 32px;
    aspect-ratio: 1;

    border-radius: 50%;
    border: 2px var(--color-dark1) solid;
    overflow: hidden;
}

.avatar img{
    height: 100%;
    width: auto;
}




/* total keyframes */

/* total media  */
@media (max-width: 700px) {
  .searchBox input{
    display: none;
  }
  .searchBox .btn{
    border: 2px var(--color-dark) solid;
    border-radius: 8px;
  }
  .searchBox {
    width: auto;
  }
}